appdirs==1.4.4
bs4==0.0.1
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
distlib==0.3.1
filelock==3.0.12
idna==2.10
joblib==1.0.1
newspaper3k==0.2.8
nltk==3.5
numpy
oauthlib==3.1.0
praw==7.2.0
PySocks==1.7.1
pyshorteners==1.0.1
python-dotenv==0.15.0
pytz==2021.1
regex==2021.3.17
requests==2.25.0
requests-oauthlib==1.3.0
six==1.15.0
tqdm==4.59.0
tweepy==3.10.0
urllib3==1.26.2
urlextract==1.2.0
virtualenv==20.2.1

#git sources:
basicbot @ git+https://github.com/sequencecentral/Basic-Bot@main#egg=basicbot@v1.4
averagejoe @ git+https://github.com/sequencecentral/Average-Joe.git@main#egg=averagejoe@v1.0
quotewidget @ git+https://github.com/sequencecentral/QuoteWidget.git@main#egg=quotewidget
twitterwidget @ git+https://github.com/sequencecentral/Twitter-Widget.git@main#egg=twitterwidget@v1.4
newswidget @ git+https://github.com/sequencecentral/NewsWidget.git@main#egg=newswidget@v1.3
redditwidget @ git+https://github.com/sequencecentral/RedditWidget.git@main#egg=redditwidget@v1.5.4
pubmedwidget @ git+https://github.com/sequencecentral/pubmed-widget.git@main#egg=pubmedwidget@v1.2
rsswidget @ git+https://github.com/sequencecentral/rss-widget@main#egg=rsswidget@v1.2.1
udemywidget @ git+https://github.com/sequencecentral/udemy-widget.git@main#egg=udemywidget@v1.5.3

# basbot @ git+https://github.com/sequencecentral/basbot.git@main#egg=basbot
# joesixpack @ git+https://github.com/sequencecentral/Joe-Sixpack.git@main#egg=joesixpack
# twwidget @ git+https://github.com/sequencecentral/TwWidget.git@main#egg=TwWidget
# twitwidget @ git+https://github.com/sequencecentral/twitwidget.git@main#egg=TwitWidget@v1.0
# https://github.com/sequencecentral/twitwidget.git
# basicbot @ git+https://github.com/sequencecentral/BasicBot.git@main#egg=basicbot
# seqbot @ git+https://github.com/sequencecentral/SeqBot.git@main#egg=seqbot
# redditwidget2 @ git+https://github.com/sequencecentral/RedditWidget2.git@main#egg=redditwidget2